* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: monospace;
  background-image: url(/assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 80px auto 0px auto;
  max-width: 80vw;
  background-image: linear-gradient(
    to right,
    rgba(196, 34, 155, 0.6),
    rgba(123, 50, 156, 0.6)
  );
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.header {
  margin: 50px 0px 50px 0px;
  flex-basis: 100%;
  font-size: 2.3em;
  text-align: center;
}

.dataFields {
  flex-basis: 100%;
  justify-content: space-around;
  transition: 0.3s;
  opacity: 0;
  display: flex;
}

.fas {
  margin-bottom: 20px;
  font-size: 2.3em;
}

.dataFields__element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dataFields__number {
  font-size: 3em;
  margin-top: 20px;
}

.refresh {
  align-items: center;
  font-size: 1.6em;
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  margin-top: 40px;
}

.refresh__button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  font-size: 2em;
  margin-right: 30px;
  transition: 0.6s;
  transform: rotate(0deg);
}

.refresh__info {
  margin-left: 10px;
}

@media only screen and (max-width: 755px) {
  body {
    font-size: 0.7em;
  }

  .header {
    font-size: 3em;
  }

  .refresh {
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .refresh__button {
    font-size: 1.8em;
    width: 100%;
    height: 100%;
    display: block;
  }
}
